{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}


{% block body %}



    <!-- Banner -->
      <section id="banner">

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Enter Details Below for SEO CheckList</h1><br>
                  <form>
                    <input type="text" name="Name" placeholder="Name">
                    <input type="email" name="pass" placeholder="Email">
                    <input type="submit" name="login" class="login loginmodal-submit" value="SEND ME A FREE SEO CHECKLIST">
                  </form>
                </div>
            </div>
          </div>


<div class="modal fade" id="modalAppointmentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Enter Details Below to Make an Appointment</h1><br>
                  <form>
                    <input type="text" name="Name" placeholder="Name">
                    <input type="email" name="pass" placeholder="Email">
                    <input type="date" name="date" placeholder="Date">
                    <input type="time" name="time" placeholder="Time">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Make An Appointment">
                  </form>
                </div>
            </div>
          </div>




        <div class="inner">
          <h1>Welcome to the SEO Page</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    Want a <strong>Free SEO check</strong> for your website? Click below and fill out the information.
                </p>
                        <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
                        <i class="fa fa-check" aria-hidden="true"></i> Free SEO Checklist
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    If you want more information, then <strong>schedule an appointment</strong> and let's chat.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAppointmentForm">
                        <i class="fa fa-check" aria-hidden="true"></i> Schedule Appointment
                    </a>
                </p>
            </div>
        </div>        
    </div>
        </div>


      </section>

{% endblock %}






